[submodule "vendor/silex"]
	path = vendor/silex
	url = git@github.com:jmikola/Silex.git
[submodule "vendor/facebook"]
        path = vendor/facebook
        url = https://github.com/facebook/php-sdk.git

