{% if app['facebook.app.id'] %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId: '{{ app["facebook.app.id"] }}'
              , status: true
              , cookie: true
              , xfbml: false
              , channelUrl: '{{ app.request.uriForPath("/channel.html") }}'
              , oauth: true
            });
        };
        (function(){
            var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
{% endif %}
