<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title '' %}</title>
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" />
    {% block head_javascripts '' %}
    {% include '_ga.html.twig' %}
</head>
<body>
    {% include '_fb.html.twig' %}
    {% block content '' %}
</body>
</html>
