<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="{{ app.request.basepath }}/css/widget.css" rel="stylesheet" />
</head>
<body>
    {% block content '' %}
</body>
</html>
