html {
    height: 100%;
}

body {
    background-color: #eee;
    color: #333;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    margin: 50px auto;
    min-height: 50%;
    padding: 0;
    width: 400px;
}

header h1 {
    font-size: 32px;
}

label span {
    display: block;
    text-align: center;
}

label input {
    border: 2px solid #bdc7d8;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 3px;
}

label #error {
    background-color: #ff9494;
    border: 2px solid #a63232;
    margin-top: 5px;
    padding: 3px 5px;
}

input[type="submit"] {
    font-size: 18px;
}

#output {
    margin-top: 10px;
}

#code {
    border: 1px solid #bdc7d8;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    padding: 3px;
    width: 392px;
}

#preview {
    margin-top: 10px;
    text-align: center;
}
